#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
  margin-top: 10px;
}

.todo-form{
  margin-top: 10px;
  display: flex;
}
.todo-input{
  flex-grow: 2;
}
.list-item{
  display: flex;
}
.todo-item {
  display: flex;
  align-items: center;
  flex-grow: 2;

} 